@import '../styles/variables';

.logList {
  list-style-type: none;
  padding: 0;
}

.logItem {
  background-color: #f0f0f0;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: opacity 1s ease-out;
}

.fadeOut {
  opacity: 0;
}

.timestamp {
  font-size: 0.8rem;
  color: #666;
}

.message {
  margin-top: 0.5rem;
  color: $primary-color;
}